<div class="row d-flex justify-content-center">
    <div class="col-lg-5 col-md-6 col-10">
        <form [formGroup]="form" autocomplete="off">
            <h2 class="mt-3">Sign Up</h2>
            <div class="mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="username">
                    <mat-error>Error*</mat-error>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error>Error*</mat-error>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>Error*</mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" (click)="signup()">Submit</button>
        </form>
    </div>
</div>
