<div class="row signin">
    <div class="col-lg-6 col-10">
        <form [formGroup]="form" autocomplete="off">
            <div class="form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Username *</mat-label>
                    <input class="form-control" matInput formControlName="username">
                    <mat-error>Error*</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Password *</mat-label>
                    <input class="form-control" type="password" matInput formControlName="password">
                    <mat-error>Error*</mat-error>
                </mat-form-field>
            </div>
            
            <button mat-flat-button color="primary">Save</button>
        </form>
    </div>
</div>